<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webdev357.musicme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".GooglePlayLoginActivity"
            android:label="@string/title_activity_google_play_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".MusicMeSettingsActivity"
            android:label="@string/title_activity_music_me_settings" >
        </activity>
        <activity
            android:name=".FoundMusicDisplay"
            android:label="@string/title_activity_found_music_display" >
        </activity>
        <activity
            android:name=".FoundMusicDisplayActivity"
            android:label="@string/title_activity_found_music_display"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webdev357.musicme.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayNewMusicActivity"
            android:label="@string/title_activity_display_new_music"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webdev357.musicme.MainActivity" />
        </activity>
         <activity
            android:name=".AdvancedListViewActivity"
            android:label="@string/title_activity_advanced_list_view_activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webdev357.musicme.MainActivity" />
        </activity>
    </application>

</manifest>
